    
        <p align="center">Built and Maintaind by JN - 2018</p>    
        <footer>
              <p>Posted by: Hege Refsnes</p>
              <p>Contact information: <a href="mailto:someone@example.com">
              someone@example.com</a>.</p>
        </footer>
    </body>
</html>